@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

*{
    box-sizing: border-box;
}

body{
    
    background-color: hsl(0, 0%, 95%);
}

.main{
    margin: 40px 0 40px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article{
    width: 360px;
    padding: 60px;
}

.img{
    width: 75px;
    height: 47px;
}

.h2{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 45px;
    font-weight: 500;
    color: hsl(0, 0%, 95%);
}

.p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 2;
}

.button{
    margin-top: 15px;
    width: 150px;
    height: 55px;
    color:  hsl(0, 0%, 95%);
    border: none;
    border-radius: 40px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 450;
    font-size: 17px;
}

.button:hover{
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    border: 3px solid hsl(0, 0%, 95%);
}

.article--sedans{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
}

.button--sedans{
    color: hsl(31, 77%, 52%);
}

.article--suvs{
    background-color: hsl(184, 100%, 22%);
}

.button--suvs{
    color: hsl(184, 100%, 22%);
}

.article--luxury{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 0px 10px 10px;
}

.button--luxury{
    color: hsl(179, 100%, 13%);
}

@media (min-width: 1024px) {

    .main{
        margin-top: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .article--sedans{
        background-color: hsl(31, 77%, 52%);
        border-radius: 10px 0 0 10px;
    }

    .article--luxury{
        background-color: hsl(179, 100%, 13%);
        border-radius: 0px 10px 10px 0 ;
    }
}